:root {
  --boutonVert: #357da3;
  --boutonRouge: #ff6600;
  
  --FondsurvolLigneTab: #b1f981;
  --FondLigneTabGrisClair: #f2f2f2;
  --FondLigneTabGrisFonce: #ddd;
  --FondLigneTabGrisSombre: #3b3b3b;
  
  --FondEnteteTableau: #919191;
  
  --FondBDialog: #fefefe;
	
  --texteGris: #444;
  
    --btnPageDebut: red;
    --btnPageEntame: Orange;
    --btnPageFini: green;  
}
